body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Button1
{
   border: 1px solid #0D6EFD;
   border-radius: 25px;
   background-color: #FF0000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#Button2
{
   border: 1px solid #0D6EFD;
   border-radius: 25px;
   background-color: #FF0000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:focus
{
   outline: 0;
}
#Button3
{
   border: 1px solid #0D6EFD;
   border-radius: 25px;
   background-color: #FF0000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:focus
{
   outline: 0;
}
#Button4
{
   border: 1px solid #0D6EFD;
   border-radius: 25px;
   background-color: #FF0000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button4:focus
{
   outline: 0;
}
#Button5
{
   border: 1px solid #0D6EFD;
   border-radius: 25px;
   background-color: #FF0000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button5:focus
{
   outline: 0;
}
#Button6
{
   border: 1px solid #0D6EFD;
   border-radius: 25px;
   background-color: #FF0000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button6:focus
{
   outline: 0;
}
#Button7
{
   border: 1px solid #0D6EFD;
   border-radius: 25px;
   background-color: #FF0000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button7:focus
{
   outline: 0;
}
#Button8
{
   border: 1px solid #0D6EFD;
   border-radius: 25px;
   background-color: #FF0000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button8:focus
{
   outline: 0;
}
#Button9
{
   border: 1px solid #0D6EFD;
   border-radius: 25px;
   background-color: #FF0000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button9:focus
{
   outline: 0;
}
#Button4
{
   position: absolute;
   left: 53px;
   top: 74px;
   width: 587px;
   height: 70px;
   z-index: 4;
}
#Button3
{
   position: absolute;
   left: 53px;
   top: 74px;
   width: 587px;
   height: 70px;
   z-index: 3;
}
#Button2
{
   position: absolute;
   left: 53px;
   top: 74px;
   width: 587px;
   height: 70px;
   z-index: 2;
}
#Button1
{
   position: absolute;
   left: 53px;
   top: 74px;
   width: 587px;
   height: 70px;
   z-index: 1;
}
#Button9
{
   position: absolute;
   left: 667px;
   top: 74px;
   width: 587px;
   height: 70px;
   z-index: 9;
}
#Button8
{
   position: absolute;
   left: 53px;
   top: 74px;
   width: 587px;
   height: 70px;
   z-index: 8;
}
#Button7
{
   position: absolute;
   left: 53px;
   top: 74px;
   width: 587px;
   height: 70px;
   z-index: 7;
}
#Button6
{
   position: absolute;
   left: 53px;
   top: 74px;
   width: 587px;
   height: 70px;
   z-index: 6;
}
#Button5
{
   position: absolute;
   left: 53px;
   top: 74px;
   width: 587px;
   height: 70px;
   z-index: 5;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#Button1
{
   left: 69px;
   top: 64px;
   width: 239px;
   height: 70px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button2
{
   left: 280px;
   top: 102px;
   width: 239px;
   height: 70px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button3
{
   left: 412px;
   top: 154px;
   width: 239px;
   height: 70px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button4
{
   left: 412px;
   top: 154px;
   width: 239px;
   height: 70px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button5
{
   left: 689px;
   top: 172px;
   width: 239px;
   height: 70px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button6
{
   left: 542px;
   top: 216px;
   width: 239px;
   height: 70px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button7
{
   left: 546px;
   top: 220px;
   width: 239px;
   height: 70px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button8
{
   left: 689px;
   top: 20px;
   width: 239px;
   height: 70px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button9
{
   left: 818px;
   top: 20px;
   width: 239px;
   height: 70px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
}
